

body{
    background-color: rgb(255, 172, 179);
}

#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

#logo_img
{
    height: 95px;
    width: 95px;
    border-radius: 100px;
}

#textbox
{
    width: 300px;
}

#hi_text{
    text-align: center;
    color: blue;
    font: bold;
}

#button1{
    color: rgb(82, 8, 253);
    font-weight: bolder;
    background-color: rgb(133, 225, 233);
    border-width: 3px;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    font-size: 18px;
}
